body {
    margin: 0 auto;
    font-family: Gill Sans, sans-serif;
    width: 1100px;
}
#logo {
    margin-top: auto;    
    margin-right: 2%;
    margin-bottom: 1%;     
    text-align: right;
}
header {
    border: 2px yellow solid;
    margin: 0 auto;   
    height: 15% auto;
    background-color: firebrick;
    color: white;   
    text-align: center;
    border-radius: 20px;
    width: 1100px;
}
.main-container {
    background: rgb(232, 233, 212);
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    color: black;  
    margin: 0 auto;
    border-radius: 20px;
    width: 1100px;
}

nav {
    border: 2px black solid;
    width: 20%;
    height: 700px;
    display: inline-block;
    vertical-align: top;
    padding: 16px;
    background: rgb(154, 224, 186);
    border-radius: 20px;
    box-sizing: border-box;   
}

.mid {
    margin: 0.1%;
    padding: 20px;
    border: 2px black solid;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: 20px;
    width: 79%;
    height: 700px;
}
footer {
border: 2px  red solid;
color:maroon;
background-color:olive;
font-weight:bold;
text-align: center;
margin: auto;
width: 1100px fixed;
border-radius: 20px;
padding: 16px
}
